extends layout

block content
.form-area.alert-warning
form#formUpdateTask(name="updatetask",method="post",action="/updatetask/#{task._id}")
        input#inputTaskName(type="text", placeholder="taskname", name="taskname")
        input#inputTaskDesc(type="text", placeholder="taskdesc", name="taskdesc")
        input#inputCompleted(type="text", placeholder="completed", name="completed")
        input#inputAssigned(type="text", placeholder="assigned", name="assigned")
        button#btnSubmit(type="submit") submit